body {
  background-color: rgb(105, 78, 152);
  color: white;
}

.join_room {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.join_room input {
  height: 35px;
  width: 300px;
  background-color: black;
  color: white;
  border: 2px solid yellow;

}

.join_room input::placeholder {
  font-weight: bolder;
  font-size: 1rem;
  padding: 5px;
}

.join_room button {
  height: 40px;
  width: 310px;
  font-size: bolder;
  font-size: 1.2rem;
  background-color: rgb(222, 115, 52);
  color: white;
  border: 1px solid rgb(253, 253, 253);
}

.chat_container {
  height: 600px;
  width: 400px;
  margin: auto;
  text-align: center;
  /* background-color: yellow; */
}

.chat_box {

  background-color: rgba(171, 171, 116, 0.444);
  height: 500px;
  position: relative;
  border: 1px solid rgb(226, 118, 30);
}

.chat_body {
  position: absolute;
  bottom: 0;
}

.chat_body input {
  height: 40px;
  width: 350px;
  border: 1px solid yellow;
}

.chat_body input::placeholder {
  font-size: 1rem;
  font-weight: bolder;
  padding: 5px;
}

.chat_body button {
  height: 46px;
  padding: 10px;
  /* width: 42px; */
  background-color: rgb(237, 102, 5);
  color: white;
}

.message_content {
  display: flex;
  line-height: 0;
  margin: 10px;
  font-weight: bolder;
}

#you {
  justify-content: flex-start;
}

#y {
  background-color: rgb(235, 235, 235);
  padding: 10px;
  border-radius: 5%;
  color: black;

}

#other {
  justify-content: flex-end;
}

#b {
  background-color: rgba(0, 0, 0, 0.855);
  padding: 10px;
  border-radius: 5%;
}

.msg_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.auto-scrolling-div::-webkit-scrollbar{
  display: none;
}